@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif !important;
}

.scrollable-div::-webkit-scrollbar {
  width: 6px;
  border-radius: 4px;
  background-color: #ffffff;
}

.scrollable-div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.scrollable-div::-webkit-scrollbar-thumb {
  background-color: #2f2f2f;
  outline: 1px solid slategrey;
  border-radius: 4px;
}

.style-contain-comments {
  border-radius: 0px 20px 20px 0px;
}

.comments-list {
  height: calc(100vh - 300px);
}

.section-content {
  @apply items-center w-full min-h-screen py-4 bg-secondary-100 text-primary-500;
}

.auth-form {
  @apply flex flex-col w-[70%] lg:w-[30%] mx-auto items-center gap-5 text-white;
}

.auth-link {
  @apply text-center font-medium text-[16px] text-[#E0E0E0] mt-4;
}

.users-list {
  @apply flex flex-col w-full gap-4;
}

.feed-empty {
  height: calc(100vh - 150px);

  @apply flex flex-col items-center justify-center w-full;
}

.sidebar-button {
  @apply flex items-center gap-2;
}

.main-container {
  @apply lg:pl-[350px] lg:pr-[350px] h-full w-full min-w-min;
}

.chat-list {
  height: calc(100vh - 90px);
}

.scrollable-chat::-webkit-scrollbar {
  width: 6px;
  border-radius: 4px;
  background-color: #ffffff;
}

.scrollable-chat::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.scrollable-chat::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  outline: 1px solid #b4b2b2;
  border-radius: 4px;
}
